{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Ajouter une partition à {{ album.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="/albums/{{ album.uuid }}/add-partition" method="post" enctype="multipart/form-data">
  Titre*
  <input name="name" type="text" required />
  Auteur
  <input name="author" type="text" />
  Paroles
  <textarea id="paroles" name="body" type="text"></textarea>
  {% if partition_uuid %}
    <input name="partition-uuid" value="{{ partition_uuid }}" type="hidden">
  {% else %}
    <input name="file" type="file" required />
  {% endif %}
  <input type="submit" value="Ajouter" />
</form>
{% endblock %}