{% extends 'base.html' %}


{% block content %}
<h2>{% block title %}{{ _('Search results for "%(query)s"', query=query)}}{% endblock %}</h2>
{% set select_album %}
<select name="album-uuid">
  {% for album in g_user.get_accessible_albums() %}
  <option value="{{ album.uuid }}">{{ album.name }}</option>
  {% endfor %}
  {% for groupe in g_user.get_accessible_groupes() %}
  <optgroup label="{{ groupe.name }}">
    {% for album in groupe.get_albums() %}
    <option value="{{ album.uuid }}">{{ album.name }}</option>
    {% endfor %}
  </optgroup>
  {% endfor %}
</select>
{% endset %}
{% if partitions|length != 0 %}
<h3>{{ _("Results in current database") }}</h3>
<div id="partitions-grid">
  {% for partition in partitions %}
  <div class="partition-container">
    <a href="/partition/{{ partition.uuid }}">
      <div class="partition" id="partition-{{ partition.uuid }}">
        <img class="partition-thumbnail" src="/thumbnails/{{ partition.uuid }}.jpg" loading="lazy">
        <div class="partition-description">
          <div class="partition-name">{{ partition.name }}</div>
          <div class="partition-author">{{ partition.author }}</div>
        </div>
      </div>
    </a>
    <div class="partition-buttons">
      {% if partition.has_attachment %}
      <a href="/partition/{{ partition.uuid }}/attachments"><div class="partition-action">📎</div></a>
      {% endif %}
    </div>
    <form action="/albums/add-partition" class="add-partition-form" method="post">
      {{ select_album }}
      <input type="hidden" value="{{ partition.uuid }}" name="partition-uuid">
      <input type="hidden" value="local_file" name="partition-type">
      <input type="submit" value="{{ _('Add to album') }}" class="add-to-album">
    </form>
  </div>
  {% endfor %}
</div>
{% endif %}
{% if google_results|length != 0 %}
<h3>{{ _("Online search results") }}</h3>
<div id="partitions-grid">
  {% for partition in google_results %}
  <div class="partition-container">
    <a href="/partition/search/{{ partition.uuid }}">
      <div class="partition" id="partition-{{ partition.uuid }}">
        <img class="partition-thumbnail" src="/thumbnails/search/{{ partition.uuid }}.jpg" loading="lazy">
        <div class="partition-description">
          <div class="partition-name">{{ partition.name }}</div>
        </div>
      </div>
    </a>
    <form action="/albums/add-partition" class="add-partition-form" method="post">
      {{ select_album }}
      <input type="hidden" value="{{ partition.uuid }}" name="partition-uuid">
      <input type="hidden" value="online_search" name="partition-type">
      <input type="submit" value="{{ _('Add to album') }}">
    </form>
  </div>
  {% endfor %}
</div>
{% endif %}
{% if google_results|length == 0 and partitions|length == 0 %}
{{ _("No results available. Try to tweak your query or increase the amount of online searches.") }}
{% endif %}
{% endblock %}