{% extends 'base.html' %}

{% block title %}{{ groupe.name }}{% endblock %}


{% block dialogs %}
<dialog id="create-groupe-album">
  <h2>{{ _("Ajouter un album au groupe %(name)s", name=groupe.name) }}</h2>
  <form action="/groupe/{{ groupe.uuid }}/create-album" method="post">
      <input type="text" name="name" id="name" placeholder="{{ _('Nom') }}" required><br/>
      <input type="submit" value="{{ _('Ajouter') }}">
  </form>
  <a href="#!" class="close-dialog">Close</a>
</dialog>
<dialog id="delete">
  <h2>{{ _("Supprimer le groupe") }}</h2>
  {{ _("Êtes vous sûr de vouloir supprimer ce groupe ? Cela supprimera les albums
  sous-jacents et leurs partitions si personne ne les a rejoints (indépendamment du groupe).") }}
  <br/><br/>
  <form method="post" action="/groupe/{{ groupe.uuid }}/delete">
    <input type="submit" style="background-color: var(--color-red);" value="{{ _('Supprimer') }}">
  </form>
  <a href="#!" class="close-dialog">Close</a>
</dialog>
{% set current_url = "/groupe/" + groupe.uuid %}
{% with share_link=config.BASE_URL+current_url, share_qrlink=current_url + "/qr" %}
  {% include 'components/share_dialog.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<header id="album-header">
  <h2 id="groupe-title">{{ groupe.name }}</h2>
  {% if g.user %}
    <div id="header-actions">
      <section id="users">
      {% for groupe_user in groupe.users %}
        <div class="user-profile-picture" style="background-color:{{ groupe_user.color }};" title="{{ groupe_user.username }}">
        {{ groupe_user.username[0] | upper }}
        </div>
      {% endfor %}
      </section>
      <div class="dropdown dp1">
        +
        <div class="dropdown-content dp1">
        {% if not_participant %}
          <a href="/groupe/{{ groupe.uuid }}/join">{{ _("Rejoindre") }}</a>
        {% elif groupe.users | length > 1 %}
          <a href="/groupe/{{ groupe.uuid }}/quit">{{ _("Quitter") }}</a>
        {% endif %}
        <a href="#share">{{ _("Partager") }}</a>
        {% if g.user.access_level == 1 or user.id in groupe.get_admins() %}
          <a href="#create-groupe-album">{{ _("Ajouter un album") }}</a>
          <a id="delete-album" href="#delete">{{ _("Supprimer") }}</a>
        {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</header>
<hr/>
{% if groupe.albums|length != 0 %}
<section id="albums-grid">
  {% for album in groupe.albums | reverse %}
  <a href="/groupe/{{ groupe.uuid }}/{{ album.uuid }}">
    <div class="album">
      {{ album.name }}
    </div>
  </a>
  {% endfor %}
</section>
{% else %}
<br/>
{% set create %}
  <a href="#create-groupe-album">{{ _("En créer un") }}</a>
{% endset %}
<div id="albums-grid" style="display: inline;">
  {{ _("Aucun album disponible. %(create)s", create=create) }}
</div>
{% endif %}
{% endblock %}