<h2>{{ _("Add a score to %(name)s", name=album.name) }}</h2>

<form action="/albums/{{ album.uuid }}/add-partition" method="post" enctype="multipart/form-data">
  <input name="name" type="text" placeholder="{{ _('title') }}" required/><br/>
  <input name="author" type="text" placeholder="{{ _('author') }}"/><br/>
  <textarea id="lyrics" name="body" type="text" placeholder="{{ _('lyrics') }}"></textarea><br/>
  {% if partition_uuid %}
    <input name="partition-uuid" value="{{ partition_uuid }}" type="hidden">
  {% else %}
    {% block input_file %}
      {% set required=true %}
      {% set filetype=".pdf" %}
      {% include 'components/input_file.html' %}
    {% endblock %}
  {% endif %}
  <input type="submit" value="{{ _('Add') }}" />
</form>