<h2>{{ _("Ajouter une partition à %(name)s", name=album.name) }}</h2>

<form action="/albums/{{ album.uuid }}/add-partition" method="post" enctype="multipart/form-data">
  <input name="name" type="text" placeholder="{{ _('titre') }}" required/><br/>
  <input name="author" type="text" placeholder="{{ _('auteur') }}"/><br/>
  <textarea id="paroles" name="body" type="text" placeholder="{{ _('paroles') }}"></textarea><br/>
  {% if partition_uuid %}
    <input name="partition-uuid" value="{{ partition_uuid }}" type="hidden">
  {% endif %}
  <input type="submit" value="{{ _('Ajouter') }}" />
</form>