{% extends 'base.html' %}


{% block content %}
<h2>{% block title %}{{ _("Create account") }}{% endblock %}</h2>

<form method="post" id="add-user-form">
  {% if g_user.is_admin %}
    <!-- Uniquement pour /add-user -->
    <label for="album_uuid">{{ _("Add to album:") }}</label><br/>
    <select name="album_uuid" id="album_uuid" form="add-user-form" style="margin-bottom:15px;">
    <option value="">{{ _("None") }}</option>
    {% for album in albums %}
      <option value="{{ album['uuid'] }}">{{ album["name"] }}</option>
    {% endfor %}
    </select><br/>
  {% endif %}
  <input type="text" name="username" id="username" placeholder="{{ _('Username') }}" required><br/>
  <input type="password" name="password" id="password" placeholder="{{ _('Password') }}" required><br/>
  <input type="submit" value="{{ _('Create account') }}">
</form>
{% endblock %}