{% extends 'base.html' %}

{% block header %}
<h1>Panneau d'administration</h1>
{% endblock %}

{% block header_actions %}
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th scope="col">Utilisateur</th>
            <th scope="col">Albums</th>
            <th scope="col">Privilèges</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                <div class="user-profile">
                    <div class="user-profile-picture" style="background-color:{{ user.color }};" title="{{ user.username }}">
                        {{ user.username[0] | upper }}
                    </div>
                    <div class="table-username">{{ user.username }}</div>
                </div>
            </td>
            <td>{{ user.albums | length }}</td>
            <td>{% if user.access_level != 1 %}❌{% else %}✅{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}