{% extends 'base.html' %}


{% block content %}
<h2>{% block title %}{{ _("Administration Panel") }}{% endblock %}</h2>

<div id="actions-rapides">
    <a href="/add-user">
        <div class="button">{{ _("New user") }}</div>
    </a>
    <a href="/partition">
        <div class="button">{{ _("See scores") }}</div>
    </a>
    <a href="/admin/logs">
        <div class="button">{{ _("See logs") }}</div>
    </a>
</div>
<div class="x-scrollable">
    <table>
        <thead>
            <tr>
                <th scope="col">{{ _("User") }}</th>
                <th scope="col">{{ _("Albums") }}</th>
                <th scope="col">{{ _("Scores") }}</th>
                <th scope="col">{{ _("Admin privileges") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <div class="user-profile">
                        <div class="user-profile-picture" style="background-color:{{ user.color }};"
                            title="{{ user.username }}">
                            {{ user.username[0] | upper }}
                        </div>
                        <div class="table-username">
                          <a href="/admin/user/{{ user.id }}">{{ user.username }}</a>
                        </div>
                    </div>
                </td>
                <td>{{ user.albums | length }}</td>
                <td>{{ user.partitions | length }}</td>
                <td>{% if user.is_admin %}✅{% else %}❌{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}