@media (max-width: 750px) {
    :root {
        --sidebar-size: 75vw;
    }

    #content {
        min-width: calc(100vw - 100px);
    }

    /* Make content not scrollable (vertically),
     do not collapse thing in a ridiculously small space */
    #content-container, #footer {
        overflow: hidden;
        min-width: 90vw;
        position: fixed;
        transition: all 0.5s ease;
    }

    input:checked#slide-sidebar~#content-container {
        position: initial;
    }

    input:checked#slide-sidebar~#footer,#content-container {
        min-width: unset;
    }
}
