@media (max-width: 750px) {
    :root {
        --sidebar-size: 75vw;
    }

    #content {
        min-width: calc(100vw - 100px);
    }

    /* Make content not scrollable */
    #content-container {
        overflow: hidden;
    }

    /* calc(var(--sidebar-size) - 20px) seems not to be working so I'm hardcoding this.. */
    #settings-container {
        width: calc(75vw - 20px);
    }
}
