html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
}

a {
    color: #377ba8;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
}

.content>header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
    border-radius: 3px;
}

.post>header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post>header>div:first-of-type {
    flex: auto;
}

.post>header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.post .about {
    color: slategray;
    font-style: italic;
}

.post .body {
    white-space: pre-line;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

.partition {
    background-color: lightgray;
    text-decoration: none;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 3px;
    width: 178px;
    box-shadow: 2px 2px 2px #7f7f7f;
}

.partition-thumbnail {
    width: 178px;
    height: 178px;
    background-color: white;
    border-radius: 5px;
}

.partition-description {
    padding: 2px;
    color: black;
    min-height: 40px;
}

.partition-author {
    font-size: .8rem;
}

.button-href {
    text-decoration: none;
}

#partitions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
}

#partitions-grid a {
    text-decoration: none;
}

#search-partitions-grid {
    display: flex;
    overflow-x: scroll;
}

#header-actions {
    margin-bottom: 5px;
    display: inherit;
}

#cancel-deletion {
    width: 133.333px;
}

#search-bar {
    max-width: 50%;
    margin-bottom: .25rem;
}

#search-form {
    display: block;
    text-align: center;
}

.add-to-album {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

#nb-queries-label {
    font-size: .7rem;
    font-weight: lighter;
}

.user-profile-picture {
    width: 25px;
    height: 23px;
    text-align: center;
    padding-top: 2px;
    border-radius: 50%;
    margin: 1px;
    color: white;
    text-shadow: 1px 1px 4px #000000;
    font-size: 18px;
    border: 1px solid black;
    box-shadow: 1px 2px 2px #d0d0d0;
}

#users-list {
    display: flex;
    margin-right: 15px;
    margin-top: 1px;
}

.dropbtn {
    width: 30px;
    height: 30px;
    background-image: radial-gradient(circle, #373737 2px, lightgray 3px);
    background-size: 100% 33.33%;
    box-shadow: 1px 2px 2px #7f7f7f;

    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.userdropbtn {
    background-color: lightgray;
    height: 30px;
    border: none;
    border-radius: 3px;
}

.dropdown {
    position: relative;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    transform: translate(-130px);
    font-size: 0.7rem;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 5px;
}

#delete-album {
    background-color: #c61918;
    border-radius: 5px;
    color: whitesmoke;
}

table {
    border: medium solid #b9c6dd;
    border-collapse: collapse;
    text-align: center;
    width: 80%;
    margin: 10%;
}

.user-profile {
    display: inline-flex;
    width: 80%;
}

.table-username {
    margin-left: 10px;
}

td {
    border-color: black;
    border: thin solid;
}

.edit-button {
    float: right;
    transform: translateX(-80%) translateY(-150%);
    padding: 2%;

    border-color: black;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    
    box-shadow: 1px 2px 2px #7f7f7f;
    background-color: #e2e2e2;
}

#paroles {
    font-family: inherit;
    font-size: 0.8rem;
}

.button:hover {
    background-color: #ddd;
}

.button {
    display: inline;
    background-color: lightgray;
    padding: 2px;
    margin: 2px;
    border-radius: 2px;
    font-size: 0.9rem;
}

#actions-rapides {
    text-align: center;
}

#actions-rapides a {
    text-decoration: none;
}