:root {
    --background-primary: white;
    --background-secondary: #eee;
    --color-primary: black;
    --color-highlight: #377ba8;
    --background-head: lightgray;
    --background-head-hover: #ddd;
    --background-flash: #cae6f6;
    --shadow-color: #7f7f7f;
    --border-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-primary: black;
        --background-secondary: #18181a;
        --color-primary: white;
        --color-highlight: #9fc0ff;
        --background-head: #232327;
        --background-head-hover: #18181a;
        --background-flash: #002c45;
        --shadow-color: #282828;
        --border-color: #6c6c6c;
    }
}

html {
    font-family: sans-serif;
    background: var(--background-secondary);
    color: var(--color-primary);
    padding: 1rem;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: var(--background-head);
    color: var(--color-primary);

    border-color: var(--border-color);
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: serif;
    color: var(--color-highlight);
    margin: 1rem 0;
}

a {
    color: var(--color-highlight);
}

hr {
    border: none;
    border-top: 1px solid var(--background-head);
}

nav {
    background: var(--background-head);
    display: flex;
    align-items: center;
    padding: 0 0.5rem;

    border-radius: 3px;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

button,
input,
select {
    background-color: var(--background-secondary);
    color: var(--color-primary);

    border-width: 1px;
    border-radius: 3px;
    border-color: var(--border-color);
}

.content {
    padding: 0 1rem 1rem;
    background: var(--background-primary);

    border-color: var(--border-color);
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
}

.content>header {
    border-bottom: 1px solid var(--background-head);
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: var(--background-flash);
    border: 1px solid var(--color-highlight);
    border-radius: 3px;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

.partition {
    background-color: var(--background-head);
    text-decoration: none;
    border-color: var(--border-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 3px;
    width: 178px;
    box-shadow: 2px 2px 2px var(--shadow-color);
}

.partition-thumbnail {
    width: 178px;
    height: 178px;
    background-color: var(--background-primary);
    border-radius: 5px;
}

.partition-description {
    padding: 2px;
    color: var(--color-primary);
    min-height: 40px;
}

.partition-author {
    font-size: .8rem;
}

.button-href {
    text-decoration: none;
}

#partitions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
}

#partitions-grid a {
    text-decoration: none;
}

#search-partitions-grid {
    display: flex;
    overflow-x: scroll;
}

#header-actions {
    margin-bottom: 5px;
    display: inherit;
}

#cancel-deletion {
    width: 133.333px;
}

#search-bar {
    max-width: 50%;
    margin-bottom: .25rem;
}

#search-form {
    display: block;
    text-align: center;
}

.add-to-album {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

#nb-queries-label {
    font-size: .7rem;
    font-weight: lighter;
}

.user-profile-picture {
    min-width: 25px;
    max-width: 25px;

    min-height: 23px;
    max-height: 23px;

    text-align: center;
    padding-top: 2px;
    border-radius: 50%;
    margin: 1px;
    color: white;
    text-shadow: 1px 1px 4px var(--shadow-color);
    font-size: 18px;
    border: 1px solid black;
    box-shadow: 1px 2px 2px var(--shadow-color);
}

#users-list {
    display: flex;
    margin-right: 15px;
    margin-top: 1px;
}

.dropbtn {
    width: 30px;
    height: 30px;
    background-image: radial-gradient(circle, var(--color-primary) 2px, var(--background-head) 3px);
    background-size: 100% 33.33%;
    box-shadow: 1px 2px 2px var(--shadow-color);

    border-color: var(--border-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.userdropbtn {
    background-color: var(--background-head);
    height: 30px;
    border: none;
    border-radius: 3px;
    color: var(--color-primary);
}

.dropdown {
    position: relative;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-secondary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    transform: translate(-130px);
    font-size: 0.7rem;
}

.dropdown-content a {
    color: var(--color-primary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--background-head);
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 5px;
}

#delete-album {
    background-color: #c61918;
    border-radius: 5px;
    color: whitesmoke;
}

table {
    border: thin solid var(--border-color);
    border-collapse: collapse;
    text-align: center;
    width: 80%;
    margin: 10%;
}

.user-profile {
    display: inline-flex;
    overflow-y: scroll;
    width: 80%;
}

.table-username {
    margin-left: 10px;
}

td {
    border: thin solid var(--border-color);
}

.edit-button {
    float: right;
    transform: translateX(-80%) translateY(-150%);
    padding: 2%;

    border-color: var(--border-color);
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;

    box-shadow: 1px 2px 2px var(--shadow-color);
    background-color: var(--background-secondary);
}

#paroles {
    font-family: inherit;
    font-size: 0.8rem;
}

.button:hover {
    background-color: var(--background-head-hover);
}

.button {
    display: inline;
    background-color: var(--background-head);
    padding: 2px;
    margin: 2px;
    border-radius: 2px;
    font-size: 0.9rem;
}

#actions-rapides {
    text-align: center;
}

#actions-rapides a {
    text-decoration: none;
}